[submodule "daemon/externals/asio"]
	path = daemon/externals/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "externals/portaudio"]
	path = externals/portaudio
	url = https://git.assembla.com/robiwan-portaudio-fork.git
[submodule "daemon/externals/cli11"]
	path = daemon/externals/cli11
	url = https://github.com/CLIUtils/CLI11.git
